.main-banner{
  position: relative;
  width: 100%;
  background-color: $greenBck;
  color: $primary;
  padding: 10rem 0;
  .container {
    text-align: center;
  }
}

/*styling for the index, contact, pickitem page*/ 
#home, #contact, #pickitem, #about, #service{
  .container{
    h1{
      font-weight: 600;
      font-size: 3.125rem;
      margin-bottom: 20px;
    }
    h4{
      font-family: 'Poppins', sans-serif;
      font-size: 1.5rem;
      font-weight: 400;
      margin-bottom: 45px;
    }
  }
}

/*styling for the index page*/ 
#home, #contact, #pickitem, #about, #service{
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
}

#home{
  background-image: url('../asserts/images/HomeScreen.png');
  height: 500px;
}

#about, #contact, #pickitem, #service{
  height: 435px;
  .container{
    h4{
      margin-bottom: 0px;
    }
  }
}

/*styling for the contact page*/ 
#contact{
  background-image: url('../asserts/images/ContactScreen.png');
 
}

/*styling for the pickitem page*/ 
#pickitem{
  background-image: url('../asserts/images/PickScreen.png');
}

/*Styling for the about page*/
#about{
  background-image: url('../asserts/images/AboutScreen.png');
}

#service{
  background-image: url('../asserts/images/servicebanner.png');
}