#footer{
  padding: 2rem 0;
  .container{
    display: flex;
    justify-content: space-between;
    .copyright, .built, .quick-links{
      flex: 0 0 33%;
      font-weight: 500;
    }
    .quick-links{
      ul{
        display: flex;
        li:not(:last-of-type){
          margin-right: 20px;
        }
        li{
          a{
            font-family: 'Montserrat', sans-serif;
            overflow: hidden;
            font-weight: 600;
            &:after{
              content: '';
              display: block;
              width: 0;
              height: 3px;
              background-color: $primary;
              transition: width 0.3s;
            }
            &:hover::after{
              width: 100%;
            }
          }
        }
      }
    }
    .built{
      .built-color{
        color: $primary;
        text-decoration: underline;
        cursor: pointer;
        &:hover{
          color: $linkColor;
        }
      }
    }
  }
}