//1440px
@include mediaXL{
  #nav #main-nav{
    width: 30%;
    padding: 60px;
    max-width: none;
  }
  #nav #main-nav li{
    margin-top: 40px;
  }
}
//1025px
@include mediaLG{

}
//769px
@include mediaMd{
  .row{
    padding: 80px 0;
  }
  #home .container h1{
    font-size: 2.8rem;
  }
  #home .container h4{
    font-size: 1.4rem;
  }
  .client-row{
    margin-bottom: 40px;
    .word::before{
      left: 5px;
    }
    .client-words{
      padding: 32px 20px 20px 60px;
    }
  }
  #footer .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .quick-links, .copyright{
      margin-bottom: 40px;
    }
    .quick-links{
      ul{
        justify-content: center;
      }
    }
  }
  /*Form mobile styling*/
  .form-wrap form .split-wrap{
    flex-direction: column;
  }
  .form-wrap form .split-wrap .split-field-three:not(:last-of-type), .form-wrap form .split-wrap .split-field:not(:last-of-type){
    margin-bottom: 3.75rem;
  }
  .form-wrap form .split-wrap .split-field, .form-wrap form .split-wrap .split-field-three{
    max-width: unset !important;
  }
}
//669px
@include mediaMdS{
  .client-row{
    margin-bottom: 20px;
  }
  .client-row .client-words{
    flex: 0 0 100%;
    margin-bottom: 20px
  }
  .client-row .client-words:last-child{
    margin-bottom: 0px;
  }
  .client-row:last-child .client-words{
    flex: 0 0 100%;
    order: 1;
  }
}
//500px
@include mediaMdSS{
  #nav .nav-items .nav-social{
    display: none;
  }
  #nav .nav-items .logo{
    text-align: right;
  }
  .main-banner{
    padding: 8rem 0;
  }
  #home .container h1{
    font-size: 2rem;
  }
  #home .container h4{
    font-size: 1.125rem;
  }
  .form-wrap form{
    padding: unset !important;
  }
}
//460px
@include mediaSm{
  #home .container h1{
    font-size: 1.75rem;
  }
  .sub-header{
    margin-bottom: 40px;
  }
  .sub-header, .cta-header{
    font-size: 1.75rem;
  }
  .grid-showcase{
    grid-gap: 20px;
  }
  .grid-showcase .feature .feature-details{
    padding: 0 0px 0px 10px;
  }
  .client-row .client-words{
    padding: 20px 10px 10px 40px;
  }
  .client-row .word::before{
    font-size: 4.5em;
  }
}
//376px
@include mediaSx{
  
}