@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

*:focus {
  outline: none;
}

body, html {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.row {
  padding: 120px 0;
}

.row-wrap {
  padding: 100px 0;
}

.feature-color {
  background-color: #F6F6F7;
}

.green-bck {
  background-color: #2FE0C4;
}

.white-text {
  color: #fff;
}

.green-text {
  color: #30C7C3;
}

.p-text {
  color: #333;
}

/*Sub heading styling*/
.sub-header, .cta-header {
  font-size: 2rem;
}

.sub-header {
  text-align: center;
  margin-bottom: 70px;
}

/*CTA header styling*/
.cta-header {
  margin-bottom: 20px;
}

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

img {
  vertical-align: middle;
  border-style: none;
}

/* Mobile Breakpoints */
#nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F6F6F7;
  padding: 1.125rem 0;
}

#nav #main-nav {
  position: fixed;
  width: 70%;
  max-width: 300px;
  padding: 20px;
  top: 0;
  -webkit-transform: translateX(-310px);
          transform: translateX(-310px);
  opacity: 0;
  height: 100vh;
  background-image: linear-gradient(45deg, #2FE0C4, #30C7C3);
  z-index: 2;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#nav #main-nav #close {
  margin-bottom: 20px;
  color: #9ff3e9;
  font-size: 1.5rem;
  cursor: pointer;
}

#nav #main-nav #close i {
  font-size: 1.7rem;
  padding-right: 10px;
}

#nav #main-nav #close:hover {
  color: #30C7C3;
}

#nav #main-nav .icon-menu p, #nav #main-nav .icon-menu a {
  font-size: 1.2rem;
  color: #fff;
}

#nav #main-nav .icon-menu p i, #nav #main-nav .icon-menu a i {
  font-size: 1.4rem;
  padding-right: 15px;
}

#nav #main-nav .phone-menu {
  margin-top: 100px;
}

#nav #main-nav li {
  margin-top: 20px;
}

#nav #main-nav li a {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  overflow: hidden;
}

#nav #main-nav li a:after {
  content: '';
  display: block;
  width: 0;
  height: 5px;
  background-color: #fff;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

#nav #main-nav li a:hover:after {
  width: 100%;
}

#nav #main-nav.show {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
}

#nav .nav-items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav .nav-items #menu-bar {
  width: 30%;
}

#nav .nav-items #menu-bar svg {
  width: 25px;
  cursor: pointer;
}

#nav .nav-items #menu-bar svg:hover {
  fill: #30C7C3;
}

#nav .nav-items .logo {
  width: 100%;
  text-align: center;
}

#nav .nav-items .logo a {
  font-size: 1.5rem;
  color: #2FE0C4;
  font-weight: 500;
}

#nav .nav-items .nav-social {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#nav .nav-items .nav-social .social {
  width: 20px;
  margin-left: 35px;
  cursor: pointer;
}

#nav .nav-items .nav-social .social svg {
  width: 20px;
}

#nav .nav-items .nav-social .social svg:hover {
  fill: #30C7C3;
}

.main-banner {
  position: relative;
  width: 100%;
  background-color: #2FE0C4;
  color: #fff;
  padding: 10rem 0;
}

.main-banner .container {
  text-align: center;
}

/*styling for the index, contact, pickitem page*/
#home .container h1, #contact .container h1, #pickitem .container h1, #about .container h1 {
  font-weight: 600;
  font-size: 3.125rem;
  margin-bottom: 20px;
}

#home .container h4, #contact .container h4, #pickitem .container h4, #about .container h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 45px;
}

/*styling for the index page*/
#home, #contact, #pickitem, #about {
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
}

#home {
  background-image: url("../asserts/images/HomeScreen.png");
  height: 500px;
}

#about, #contact, #pickitem {
  height: 435px;
}

#about .container h4, #contact .container h4, #pickitem .container h4 {
  margin-bottom: 0px;
}

/*styling for the contact page*/
#contact {
  background-image: url("../asserts/images/ContactScreen.png");
}

/*styling for the pickitem page*/
#pickitem {
  background-image: url("../asserts/images/PickScreen.png");
}

/*Styling for the about page*/
#about {
  background-image: url("../asserts/images/AboutScreen.png");
}

.btn {
  display: inline-block;
  color: #fff;
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  padding: 20px 30px;
  border-radius: 4px;
  border: 0px;
  text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06);
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
}

.btn-color {
  background-image: linear-gradient(45deg, #2FE0C4, #30C7C3);
}

.btn:focus {
  outline: none;
}

.btn:before {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  width: 0%;
  height: 100%;
  background-image: linear-gradient(45deg, #2FE0C4, #4088AD);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}

.btn-color:before {
  bottom: 0;
}

.btn-color:hover:before {
  width: 180%;
}

.grid-showcase {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 60px;
  -ms-grid-columns: (minmax(180px, 3fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(180px, 3fr));
}

.grid-showcase .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid-showcase .feature .feature-icon {
  width: 70px;
  height: 70px;
}

.grid-showcase .feature .feature-details {
  padding: 0 10px;
}

.grid-showcase .feature .feature-details h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 15px;
  color: #2B303A;
}

.grid-showcase .feature .feature-details p {
  color: #9A9A9A;
  margin-bottom: 10px;
}

.grid-showcase .feature .feature-details .feature-link {
  width: 100px;
  display: none;
  overflow: hidden;
}

.grid-showcase .feature .feature-details .feature-link:after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background-color: #30C7C3;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.grid-showcase .feature .feature-details .feature-link:hover:after {
  width: 100%;
}

.testimonial {
  background-image: url(../asserts/images/testimonialScreen.png);
  background-color: #F6F6F7;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
  color: #fff;
}

.client-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-bottom: 70px;
}

.client-row .client-words {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 32px 46px 20px 86px;
}

.client-row .client-words .person {
  font-weight: 700;
  font-size: 18px;
}

.client-row .client-words .company, .client-row .client-words .place {
  font-weight: 300;
}

.client-row .bg-color {
  background: #2FE0C4;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  border-radius: 2px;
}

.client-row .word {
  display: inline-block;
  quotes: "“" "\201D";
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.client-row .word::before {
  position: absolute;
  content: open-quote;
  font-size: 7em;
  font-weight: 600;
  top: -10px;
  left: 22px;
}

.client-row:last-child .client-words {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.client-row:last-child .bg-color {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

/*Styling for the about page*/
.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.about-us-wrapper {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.about-us-wrapper .about-info {
  margin-bottom: 50px;
}

.about-us-wrapper .about-info h4 {
  font-size: 28px;
  margin-bottom: 10px;
}

.about-us-wrapper .about-info p {
  color: #9A9A9A;
}

.about-team {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: center;
}

.about-team h4 {
  font-size: 28px;
  margin-bottom: 40px;
}

.about-team .team-member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.about-team .team-member div {
  width: 295px;
  height: 295px;
  background-color: #ccc;
  border-radius: 50%;
  margin-bottom: 20px;
}

.about-team .team-member .team-name {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.about-team .team-member p {
  font-size: 18px;
  color: #9A9A9A;
}

@media screen and (min-width: 1441px) {
  #nav #main-nav {
    width: 30%;
    padding: 60px;
    max-width: none;
  }
  #nav #main-nav li {
    margin-top: 40px;
  }
}

@media screen and (max-width: 769px) {
  .row {
    padding: 80px 0;
  }
  #home .container h1 {
    font-size: 2.8rem;
  }
  #home .container h4 {
    font-size: 1.4rem;
  }
  .client-row {
    margin-bottom: 40px;
  }
  .client-row .word::before {
    left: 5px;
  }
  .client-row .client-words {
    padding: 32px 20px 20px 60px;
  }
  #footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer .container .quick-links, #footer .container .copyright {
    margin-bottom: 40px;
  }
  #footer .container .quick-links ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /*Form mobile styling*/
  .form-wrap form .split-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-wrap form .split-wrap .split-field-three:not(:last-of-type), .form-wrap form .split-wrap .split-field:not(:last-of-type) {
    margin-bottom: 3.75rem;
  }
  .form-wrap form .split-wrap .split-field, .form-wrap form .split-wrap .split-field-three {
    max-width: unset !important;
  }
}

@media screen and (max-width: 669px) {
  .client-row {
    margin-bottom: 20px;
  }
  .client-row .client-words {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 20px;
  }
  .client-row .client-words:last-child {
    margin-bottom: 0px;
  }
  .client-row:last-child .client-words {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (max-width: 500px) {
  #nav .nav-items .nav-social {
    display: none;
  }
  #nav .nav-items .logo {
    text-align: right;
  }
  .main-banner {
    padding: 8rem 0;
  }
  #home .container h1 {
    font-size: 2rem;
  }
  #home .container h4 {
    font-size: 1.125rem;
  }
  .form-wrap form {
    padding: unset !important;
  }
}

@media screen and (max-width: 460px) {
  #home .container h1 {
    font-size: 1.75rem;
  }
  .sub-header {
    margin-bottom: 40px;
  }
  .sub-header, .cta-header {
    font-size: 1.75rem;
  }
  .grid-showcase {
    grid-gap: 20px;
  }
  .grid-showcase .feature .feature-details {
    padding: 0 0px 0px 10px;
  }
  .client-row .client-words {
    padding: 20px 10px 10px 40px;
  }
  .client-row .word::before {
    font-size: 4.5em;
  }
}

.info-wrap, .form-wrap {
  max-width: 846px;
  width: 100%;
  margin: 0 auto;
}

.error-message {
  color: red;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 1rem;
  font-style: italic;
}

.info-wrap {
  font-size: 1.25rem;
  line-height: 1.7;
}

.info-wrap .info-main {
  margin-bottom: 3rem;
}

.form-wrap {
  margin-top: 5rem;
  font-size: 1.125rem;
}

.form-wrap form {
  width: 100%;
  padding: 0 1.25rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.form-wrap form .field-wrap {
  position: relative;
  width: 100%;
  margin-bottom: 3.75rem;
  font-family: 'Montserrat', sans-serif;
}

.form-wrap form .field-wrap .textarea {
  position: relative;
}

.form-wrap form .field-wrap .textarea .fa-check, .form-wrap form .field-wrap .textarea .fa-times {
  position: absolute;
  top: 80%;
  right: 10px;
}

.form-wrap form .field-wrap .fa-check {
  opacity: 0;
  color: #2FE0C4;
}

.form-wrap form .field-wrap .fa-check.showCheckIcon {
  opacity: 1;
}

.form-wrap form .field-wrap .fa-times {
  opacity: 0;
  color: red;
}

.form-wrap form .field-wrap .fa-times.showTimesIcon {
  opacity: 1;
}

.form-wrap form .field-wrap .fa-check, .form-wrap form .field-wrap .fa-times {
  position: absolute;
  top: 60%;
  right: 10px;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.form-wrap form .field-wrap label {
  display: inline-block;
  margin: 0px 40px 10px 0px;
  font-weight: 500;
}

.form-wrap form .field-wrap input, .form-wrap form .field-wrap textarea, .form-wrap form .field-wrap select {
  width: 100%;
  font-size: 1rem;
  border: 1px solid white;
  border-radius: 2px;
  padding: 1rem 14px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.form-wrap form .field-wrap input:focus, .form-wrap form .field-wrap textarea:focus {
  color: #333;
  border-color: #2FE0C4;
  -webkit-box-shadow: 0 0 8px 0 #2FE0C4;
          box-shadow: 0 0 8px 0 #2FE0C4;
}

.form-wrap form .field-wrap .textarea-desc {
  margin-bottom: 30px;
}

.form-wrap form .field-wrap .textarea-desc h4 {
  margin-bottom: 10px;
}

.form-wrap form .field-wrap .textarea-desc p {
  line-height: 1.6;
}

.form-wrap form .field-wrap input[type='date'] {
  height: 45px;
  padding: 12px;
}

.form-wrap form .split-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-wrap form .split-wrap .split-field {
  position: relative;
  max-width: 370px;
  width: 100%;
}

.form-wrap form .split-wrap .split-field-three {
  position: relative;
  max-width: 238px;
  width: 100%;
}

.form-wrap form .split-wrap .split-field .fa-check, .form-wrap form .split-wrap .split-field-three .fa-check {
  opacity: 0;
}

.form-wrap form .split-wrap .split-field .fa-check.showCheckIcon, .form-wrap form .split-wrap .split-field-three .fa-check.showCheckIcon {
  opacity: 1;
}

.form-wrap form .split-wrap .split-field .fa-times, .form-wrap form .split-wrap .split-field-three .fa-times {
  opacity: 0;
}

.form-wrap form .split-wrap .split-field .fa-times.showTimesIcon, .form-wrap form .split-wrap .split-field-three .fa-times.showTimesIcon {
  opacity: 1;
}

.form-wrap form .split-wrap .split-field .fa-check, .form-wrap form .split-wrap .split-field .fa-times, .form-wrap form .split-wrap .split-field-three .fa-check, .form-wrap form .split-wrap .split-field-three .fa-times {
  position: absolute;
  top: 60%;
  right: 10px;
}

.form-wrap form .split-wrap .split-field .fa-check.showIcon, .form-wrap form .split-wrap .split-field .fa-times.showIcon, .form-wrap form .split-wrap .split-field-three .fa-check.showIcon, .form-wrap form .split-wrap .split-field-three .fa-times.showIcon {
  opacity: 1;
}

.form-wrap form .split-wrap .split-field select, .form-wrap form .split-wrap .split-field-three select {
  width: 100%;
  height: 50px;
  background-color: #fff;
}

.quick-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quick-wrap .quick-info-sec {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background: #2FE0C4;
  min-height: 500px;
}

.quick-wrap .quick-info-sec .container {
  text-align: center;
  color: #fff;
}

.quick-wrap .quick-info-sec .container .quick-p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.7;
  margin-top: 9rem;
  margin-bottom: 2rem;
}

.quick-wrap .quick-info-sec .container .quick-tel-email {
  font-size: 1.125rem;
  line-height: 1.6;
}

.quick-wrap .quick-info-sec .container .quick-tel-email a {
  color: #fff;
}

.quick-wrap .quick-info-sec .container .quick-tel-email i {
  margin-right: 15px;
}

.quick-wrap .quick-map {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

#map {
  width: 100%;
  height: 500px;
}

#footer {
  padding: 2rem 0;
}

#footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer .container .copyright, #footer .container .built, #footer .container .quick-links {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  font-weight: 500;
}

#footer .container .quick-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .container .quick-links ul li:not(:last-of-type) {
  margin-right: 20px;
}

#footer .container .quick-links ul li a {
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  font-weight: 600;
}

#footer .container .quick-links ul li a:after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background-color: #fff;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

#footer .container .quick-links ul li a:hover::after {
  width: 100%;
}

#footer .container .built .built-color {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

#footer .container .built .built-color:hover {
  color: #30C7C3;
}
/*# sourceMappingURL=main.css.map */